/*! THIS IS A GLOBAL RESET FOR RESETTING ALL DEFAULT MARGINS AND PADDINGS (THIS IS VERY IMPORTANT)  */
* {
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    font-family: sans-serif;
    border-top: 10px solid #1098ad;
}


/*! THIS WILL AUTOMATICALLY CENTER OUR ARTICLE/WEBSITE TO THE MIDDLE OF THE SCREEN NO MATTER THE ASPECT RATIO  */

/** Both the margins will be the same as the other when we set them as auto */
.container {
    width: 700px;
    /* margin-left: auto;
    margin-right: auto; */

    margin: 0 auto;
}

.main-header {
    background-color: #f7f7f7;
    /* padding: 20px;
    padding-left: 40px;
    padding-right: 40px ; */

    /* ShortHand: (first one is top and bottom , second is left and right*/
    padding: 20px 40px;
    margin-bottom: 60px;
    height: 80px;
}

.post-header {
    margin-bottom: 40px;
}

article {
    margin-bottom: 60px;
}

aside {
    background-color: #f7f7f7;
    border-top: 5px solid #1098ad;
    border-bottom: 5px solid #1098ad;
    padding: 50px 0;
    width: 500px;
}

h1,
h2,
h3 {
    color: #1098ad;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 15px;
}

ul,
ol {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li:last-child {
    margin-bottom: 0;
}

/*Selecting the p element in the footer (descendent selector) */

/* footer p {
    font-size: 14px;
} */

#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

.related-author {
    font-size: 18px;
    font-weight: bold;
}

/* 
ul {
    list-style: none;
} */


.related {
    list-style: none;
}

/* body {
    background-color: orange;
} */

/*Pseudo-class (will select the first list element inside of a container)*/

/* li:first-child {
    font-weight: bold;
}

li:last-child {
    font-style: italic;
}

useful for styling tables with alternating background colours

li:nth-child(odd) {
    color: red
}

article p:first-child {
    color: red
} */




/*? Styling links and hyperlinks*/
a:link {
    color: #1098ad;
    text-decoration: none;
}

a:visited {
    color: purple
}

a:hover {
    color: orangered;
    font-weight: bold;
    text-decoration: underline orange;
}

a:active {
    background-color: black;
    font-style: italic;
}

.post-image {
    width: 100%;
    height: auto;
}

/*! Always defined in this order LVHA */

/*? Resolving Conflict*/

#copyright {
    color: red;
}

.copyright {
    color: blue;
}

.text {
    color: yellow;
}

footer p {
    color: green;
}

/* Id selectors have the highest priority -> class selectors (the last one will apply) -> element selectors. */

/*! !important tag 

/*--------------------------------------*/

/*? Inheritance
    - This is when all the child elements INHERIT from the parent element CSS declarations

    -Example is the body{}
        - Anything in the body element will inherit all the declarations

    - NOT ALL PROPERTIES ARE INHERITED 
        - Usually only text-related properties
*/

/* body {
    color: #444;
    font-family: sans-serif;
    border-top: 10px solid #1098ad;
} */

/*--------------------------------------*/

/*? Pseudo Elements & Adjacent Sibling */

/* Pseudo Element that selects the first letter */
h1::first-letter {
    font-style: normal;
    margin-right: 5px;
}

/* Adjacent sibling -> the next element within the same parent -> h3 next element is p -> first line of p is red */
h3+p::first-line {
    /* color: red; */
}

h2 {
    position: relative;
}

h2::after {
    content: "TOP";
    background-color: #ffe70e;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;

}